@model List<KutuphaneProje.Models.BookListViewModel>

<a href="/Books/NewBook" class="btn btn-outline-info">Add New Book</a>

<h1>Books</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kitap Adı</th>
        <th>Yazar Adı</th>
        <th>Alınan Tarih</th>
        <th>Getirileceği Tarih</th>
        <th>Durum</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Bookname</td>
            <td>@item.Outhor</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            @if(item.Status == 2)
            {
                <td>
                    <a href="/Books/BooksStatusUpdate/@item.Id" class="btn btn-outline-info">Ödünç Ver</a>
                </td>
            }
            else
            {
                <td>
                    <a href="" class="btn btn-outline-danger">Ödünç Verilemez</a>
                </td>
            }
          
        </tr>

    }
</table>
